In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_excel('weather.xlsx')

In [3]:
df

    Day   Outlook Temperature Humidity    Wind Play
0     1     Sunny         Hot     High    Weak   No
1     2     Sunny         Hot     High  Strong   No
2     3  Overcast         Hot     High    Weak  Yes
3     4      Rain        Mild     High    Weak  Yes
4     5      Rain        Cool   Normal    Weak  Yes
5     6      Rain        Cool   Normal  Strong   No
6     7  Overcast        Cool   Normal  Strong  Yes
7     8     Sunny        Mild     High    Weak   No
8     9     Sunny        Cool   Normal    Weak  Yes
9    10      Rain        Mild   Normal    Weak  Yes
10   11     Sunny        Mild   Normal  Strong  Yes
11   12  Overcast        Mild     High  Strong  Yes
12   13  Overcast         Hot   Normal    Weak  Yes
13   14      Rain        Mild     High  Strong   No

In [4]:
for i in df:
    print('*',i,'*')
    print(df[i].unique())

* Day *
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
* Outlook *
['Sunny' 'Overcast' 'Rain']
* Temperature *
['Hot' 'Mild' 'Cool']
* Humidity *
['High' 'Normal']
* Wind *
['Weak' 'Strong']
* Play *
['No' 'Yes']

In [5]:
for i in df:
    print('*',i,'*')
    print(df[i].value_counts())

* Day *
Day
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
Name: count, dtype: int64
* Outlook *
Outlook
Sunny       5
Rain        5
Overcast    4
Name: count, dtype: int64
* Temperature *
Temperature
Mild    6
Hot     4
Cool    4
Name: count, dtype: int64
* Humidity *
Humidity
High      7
Normal    7
Name: count, dtype: int64
* Wind *
Wind
Weak      8
Strong    6
Name: count, dtype: int64
* Play *
Play
Yes    9
No     5
Name: count, dtype: int64

In [7]:
for i in df:
    print('*',i,'*')
    print(df[i].nunique())

* Day *
14
* Outlook *
3
* Temperature *
3
* Humidity *
2
* Wind *
2
* Play *
2

In [8]:
for i in df:
    print('*',i,'*')
    print(df[i].mode())

* Day *
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
Name: Day, dtype: int64
* Outlook *
0     Rain
1    Sunny
Name: Outlook, dtype: object
* Temperature *
0    Mild
Name: Temperature, dtype: object
* Humidity *
0      High
1    Normal
Name: Humidity, dtype: object
* Wind *
0    Weak
Name: Wind, dtype: object
* Play *
0    Yes
Name: Play, dtype: object

In [11]:
sum(df['Outlook']=='Rain')

5

In [12]:
len(df)

14

In [14]:
sum(df['Outlook']=='Rain')/len(df)

0.35714285714285715

In [16]:
df['Outlook'].value_counts()

Outlook
Sunny       5
Rain        5
Overcast    4
Name: count, dtype: int64

In [17]:
df['Outlook'].value_counts(normalize=True)

Outlook
Sunny       0.357143
Rain        0.357143
Overcast    0.285714
Name: proportion, dtype: float64

In [19]:
df['Outlook'].mode()

0     Rain
1    Sunny
Name: Outlook, dtype: object

In [20]:
df['Outlook'].value_counts(normalize=True)[1]

C:\Users\Khushi\AppData\Local\Temp\ipykernel_1348\349765868.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Outlook'].value_counts(normalize=True)[1]

np.float64(0.35714285714285715)

In [21]:
df['Outlook'].value_counts(normalize=True).loc['Rain']

np.float64(0.35714285714285715)

In [26]:
df['Day'].value_counts().head()

Day
1    1
2    1
3    1
4    1
5    1
Name: count, dtype: int64

In [27]:
sum(df['Play']=='Yes/No')

0

In [28]:
df['Play'].value_counts()

Play
Yes    9
No     5
Name: count, dtype: int64

In [29]:
df['Humidity'].value_counts()

Humidity
High      7
Normal    7
Name: count, dtype: int64

In [31]:
df['Play'].value_counts(normalize=True).loc['Yes']

np.float64(0.6428571428571429)

In [34]:
df['Humidity'].value_counts(normalize=True)

Humidity
High      0.5
Normal    0.5
Name: proportion, dtype: float64

In [35]:
df['Temperature'].value_counts()

Temperature
Mild    6
Hot     4
Cool    4
Name: count, dtype: int64

In [36]:
df['Temperature'].value_counts()/len(df)

Temperature
Mild    0.428571
Hot     0.285714
Cool    0.285714
Name: count, dtype: float64

In [37]:
df['Temperature'].value_counts(normalize=True).loc['Hot']

np.float64(0.2857142857142857)

In [38]:
df['Temperature'].value_counts(normalize=True).loc['Mild']

np.float64(0.42857142857142855)

In [39]:
1- df['Temperature'].value_counts(normalize=True).loc['Cool']

np.float64(0.7142857142857143)

In [40]:
sum((df['Play']=='Yes') & (df['Temperature']=='Hot'))/len(df)

0.14285714285714285

In [41]:
pd.crosstab(index=df['Play'],columns=df['Temperature'])

Temperature  Cool  Hot  Mild
Play
No              1    2     2
Yes             3    2     4

In [42]:
pd.crosstab(index=df['Play'],columns=df['Temperature'],normalize=True)

Temperature      Cool       Hot      Mild
Play
No           0.071429  0.142857  0.142857
Yes          0.214286  0.142857  0.285714

In [43]:
pd.crosstab(index=df['Play'],columns=df['Temperature'],normalize=True).loc['Yes']['Hot']

np.float64(0.14285714285714285)

In [44]:
df['Humidity'].value_counts()

Humidity
High      7
Normal    7
Name: count, dtype: int64

In [45]:
df['Humidity'].value_counts(normalize=True)

Humidity
High      0.5
Normal    0.5
Name: proportion, dtype: float64

In [46]:
pd.crosstab(index=df['Humidity'],columns=df['Temperature'],normalize=True).loc['Normal']['Cool']

np.float64(0.2857142857142857)

In [47]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize=True)

Outlook  Overcast      Rain     Sunny
Play
No       0.000000  0.142857  0.214286
Yes      0.285714  0.214286  0.142857

In [48]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize='columns')

Outlook  Overcast  Rain  Sunny
Play
No            0.0   0.4    0.6
Yes           1.0   0.6    0.4

In [49]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize='columns').loc['Yes']['Rain']

np.float64(0.6)

In [50]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index')

Play            No       Yes
Humidity
High      0.571429  0.428571
Normal    0.142857  0.857143

In [51]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index').loc['High']

Play
No     0.571429
Yes    0.428571
Name: High, dtype: float64

In [52]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index').loc['High']['No']

np.float64(0.5714285714285714)